<ul id="asideLeft" class="desktop active aside_left floatingDesktopTopLeft">
     {# <li>
        <a id="asideLeftToggle" href="#" class="aside_left__item aside_left__item--toggle">
            Đóng / Mở 
        </a>
     </li> #}
    <li>
        <a href="//mua.zing.vn/index.html" target="" class=" scrollFrameControl aside_left__item aside_left__item--0">
        </a> 
    </li>
    <li>
        <a href="#frame1" target="" class=" scrollFrameControl aside_left__item aside_left__item--1">
        </a> 
    </li>
    <li>
        <a href="#frame2" target="" class=" scrollFrameControl aside_left__item aside_left__item--2">
        </a> 
    </li>
    <li>
        <a href="#frame3" target="" class=" scrollFrameControl aside_left__item aside_left__item--3">
        </a> 
    </li>
    <li>
        <a href="#frame4" target="" class=" scrollFrameControl aside_left__item aside_left__item--4">
        </a> 
    </li>
    <li>
        <a href="#popup_content1" data-lightbox target="" class="aside_left__item aside_left__item--5">
        </a> 
    </li>
</ul>


