<div id="auth" class="auth" style=""> 
    <div class="auth__profile">
        Xin chào:
        <span class="username pm__username">Baby_CuteVipPro</span>
    </div>
    <div class="auth__info">
        Số Tim hiện có
        <span class="point pm__point">0</span>
    </div>
</div>