<ul id="navigation" class="navigation floating-desktop--left">
     <li>
        <a href="#frame1" class="navigation__item navigation__item--1 scrollFrameControl">
            Frame 0
        </a>
     </li>
     <li>
        <a href="#frame2" class="navigation__item navigation__item--2 scrollFrameControl">
            Frame 1
        </a>
     </li>
     <li>
        <a href="#frame3" class="navigation__item navigation__item--3 scrollFrameControl">
            Frame 2
        </a>
     </li>
     <li>
        <a href="#frame4" class="navigation__item navigation__item--4 scrollFrameControl">
            Frame 3
        </a>
     </li>
     <li>
        <a href="#frame5" class="navigation__item navigation__item--5 scrollFrameControl">
            Frame 4
        </a>
     </li>
     <li>
        <a href="#frame6" class="navigation__item navigation__item--6 scrollFrameControl">
            Frame 5
        </a>
     </li>
</ul>
 