<div id="popup_rules" class="popup popup--default ">
	<div class="popup__background"></div>
	<div class="popup__content  ">	
		<div class="popup__wrapper">
			<h2 class="title title--auth">
				Thể Lệ cuộc thi
			</h2>
			<div class="popup__iframe">
				<iframe src="../article/article.html" frameborder="0"></iframe>

				{# <iframe src="//mua.zing.vn/content/cam-nang/the-le-chuoi-su-kien.html" frameborder="0"></iframe> #}
			</div>
		</div>
		<span class="popup__close close">X</span>
	</div>
</div>

<div id="popup_receive" class="popup popup--default pm__module pm__condition-module active">
	<div class="popup__background"></div>
	<div class="popup__content">
		<div class="popup__wrapper">
            <h2 class="title title--info">
                NHẬN THƯỞNG KHÁN GIẢ
            </h2>
			<div class="tabcontent">
			
				<ul class="tabcontent__tab">
					<li>
						<input type="radio" name="content_tab" id="tabcontent_tab__thuong_moc_ca_nhan" data-content="#tabcontent_content__thuong_moc_ca_nhan" checked>
						<label for="tabcontent_tab__thuong_moc_ca_nhan">
							THƯỞNG MỐC CÁ NHÂN
						</label>
					</li>
					<li>
						<input type="radio" name="content_tab" id="tabcontent_tab__thuong_moc_may_chu" data-content="#tabcontent_content__thuong_moc_may_chu">
						<label for="tabcontent_tab__thuong_moc_may_chu">
							THƯỞNG MỐC MÁY CHỦ
						</label>
					</li>
				</ul>

				<ul class="tabcontent__content">
					<li id="tabcontent_content__thuong_moc_ca_nhan" class="active">
						<div class="tabcontent__content">
							<article class="article">
								<div class="article__content">
									<p>
										Số Tim cá nhân đã tặng: <strong>123456</strong> <br />
										Tặng Tim càng nhiều, phần thưởng mốc càng phong phú:
									</p>							
									<div class="table">
									<table>
											<thead>
												<tr>
													<th>MỐC</th>
													<th>HÌNH ẢNH</th>
													<th>TÊN PHẦN THƯỞNG</th>
													<th>TRẠNG THÁI</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>10</td>
													<td>
														<img src="assets/images/gifts/ruong_chau_bau.png" alt="">
													</td>
													<td>10 Rương Châu Báu Thủy Tặc Lv6</td>
													<td>
														<a class="btni btni--popup-receive received">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
												<tr>
													<td>30</td>
													<td>
														<img src="assets/images/gifts/lenh_bai.png" alt="">
													</td>
													<td>Lệnh Bài Chuyển Đổi Môn Phái</td>
													<td>
														<a class="btni btni--popup-receive off">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
											</tbody>
										</table> 
									</div>
								
								</div>
							
							</article>
						</div>
					</li>
					<li id="tabcontent_content__thuong_moc_may_chu">
						<div class="tabcontent__content">
							<article class="article">
								<div class="article__content">
									<p>
										Số Tim cá nhân đã tặng: <strong>654321</strong> <br />
										Tặng Tim càng nhiều, phần thưởng mốc càng phong phú:
									</p>							
									<div class="table">
									<table>
											<thead>
												<tr>
													<th>MỐC</th>
													<th>HÌNH ẢNH</th>
													<th>TÊN PHẦN THƯỞNG</th>
													<th>TRẠNG THÁI</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>10</td>
													<td>
														<img src="assets/images/gifts/ruong_chau_bau.png" alt="">
													</td>
													<td>10 Rương Châu Báu Thủy Tặc Lv6</td>
													<td>
														<a class="btni btni--popup-receive received">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
												<tr>
													<td>30</td>
													<td>
														<img src="assets/images/gifts/lenh_bai.png" alt="">
													</td>
													<td>Lệnh Bài Chuyển Đổi Môn Phái</td>
													<td>
														<a class="btni btni--popup-receive off">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
											</tbody>
										</table> 
									</div>
								
								</div>
							
							</article>
						</div>
					</li>
				</ul>
			
			</div>

			
        </div>

		<span class="popup__close close">X</span>
	</div>
</div>

<div id="popup_receive_candidate" class="popup popup--default pm__module pm__condition-module active">
	<div class="popup__background"></div>
	<div class="popup__content">
		<div class="popup__wrapper">
            <h2 class="title title--info">
                NHẬN THƯỞNG THÍ SINH
            </h2>
			<div class="tabcontent">

				<ul class="tabcontent__content">
					<li id="tabcontent_content__thuong_moc_ca_nhan" class="active">
						<div class="tabcontent__content">
							<article class="article">
								<div class="article__content">
									<p>
										Chúc mừng bạn đã được nhận thưởng Vòng 1 <br />
										Điểm số của bạn là: <strong>98989</strong> <br />
										Phần thưởng được nhận gồm có:
									</p>							
									<div class="table">
									<table>
											<thead>
												<tr>
													<th>HÌNH ẢNH</th>
													<th>TÊN PHẦN THƯỞNG</th>
													<th>TRẠNG THÁI</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<img src="assets/images/gifts/ruong_chau_bau.png" alt="">
													</td>
													<td>10 Rương Châu Báu Thủy Tặc Lv6</td>
													<td>
														<a class="btni btni--popup-receive received">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
												<tr>
													<td>
														<img src="assets/images/gifts/lenh_bai.png" alt="">
													</td>
													<td>Lệnh Bài Chuyển Đổi Môn Phái</td>
													<td>
														<a class="btni btni--popup-receive off">Nhận</a>
														10:30 | 22.07.2021
													</td>
												</tr>
											</tbody>
										</table> 
									</div>
								
								</div>
							
							</article>
						</div>
					</li>
				</ul>
			
			</div>

			
        </div>

		<span class="popup__close close">X</span>
	</div>
</div>