<div
	class="prizes">

	{# <a href="assets/images/prize/1.png" data-fancybox="prize" class="prize">
			        <img src="assets/images/prize/1.png" />
			    </a>
			    <a href="assets/images/prize/2.png" data-fancybox="prize" class="prize">
			        <img src="assets/images/prize/2.png" />
			    </a>
			    <a href="assets/images/prize/3.png" data-fancybox="prize" class="prize">
			        <img src="assets/images/prize/3.png" />
			    </a>
			    <a href="assets/images/prize/4.png" data-fancybox="prize" class="prize">
			        <img src="assets/images/prize/4.png" />
			    </a>
			    <a href="assets/images/prize/5.png" data-fancybox="prize" class="prize">
			        <img src="assets/images/prize/5.png" />
			    </a>
			    <a href="assets/images/prize/banner.png" data-fancybox class="prize prize--banner desktop">
			        <img src="assets/images/prize/banner.png" />
			    </a>
			    <a href="assets/images/prize/mb-banner.png" data-fancybox class="prize prize--banner mobile">
			        <img src="assets/images/prize/mb-banner.png" />
			    </a> #}


	<div class="prize">
		<img class="prize__thumb active" src="assets/images/prize/1.png" data-thumbdesktop="assets/images/prize/banner-1.png" data-thumbmobile="assets/images/prize/mb-banner-1.png"/>
	</div>
	<div class="prize">
		<img class="prize__thumb " src="assets/images/prize/2.png" data-thumbdesktop="assets/images/prize/banner-2.png" data-thumbmobile="assets/images/prize/mb-banner-2.png"/>
	</div>
	<div class="prize">
		<img class="prize__thumb " src="assets/images/prize/3.png" data-thumbdesktop="assets/images/prize/banner-3.png" data-thumbmobile="assets/images/prize/mb-banner-3.png"/>
	</div>
	<div class="prize">
		<img class="prize__thumb " src="assets/images/prize/4.png" data-thumbdesktop="assets/images/prize/banner-4.png" data-thumbmobile="assets/images/prize/mb-banner-4.png"/>
	</div>
	<div class="prize">
		<img class="prize__thumb " src="assets/images/prize/5.png" data-thumbdesktop="assets/images/prize/banner-5.png" data-thumbmobile="assets/images/prize/mb-banner-5.png"/>
	</div>
	<div class="prize prize--banner desktop">
		<img id="fullPrizeDesktop" src="assets/images/prize/banner-1.png"/>
	</div>
	<div class="prize prize--banner mobile">
		<img id="fullPrizeMobile" src="assets/images/prize/mb-banner-1.png"/>
	</div>

</div>
