
			<div class="rank">
				{# <div class="rank__nav">
					<ul class="nav">
						<li><a href="#" class="nav-1">KING</a></li>
						<li><a href="#" class="nav-2 active">QUEEN</a></li>
						<li><a href="#" class="nav-3">SỨ GIẢ HỘ TIM</a></li>
					</ul>
				</div> #}
				<div class="rank__filter">
					<ul class="filter">
						<li>
							<select name="data[game]" id="game">
								<option value="">Võ lâm truyền kỳ 1 Mobile</option>
							</select>						
						</li>
					</ul>
				</div>
				<div class="rank__detail">
					<table width="100%" class="rank__table">
							<thead>
								<tr>
									<th class="stt">TOP</th>
									<th class="nhanvat">NHÂN VẬT</th>
									<th class="server">MÁY CHỦ</th>
									<th class="flower">TIM ĐÃ TẶNG</th>
								</tr>
							</thead>
							<tbody>
								<tr class="rank-1">
									<td><span>1</span></td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr class="rank-2">
									<td><span>2</span></td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr class="rank-3">
									<td><span>3</span></td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>4</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>5</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>6</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>7</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>8</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>9</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
								<tr >
									<td>10</td>
									<td>Nguyễn Trần Mạnh Hoàng </td>
									<td>S22</td>
									<td>32000</td>
								</tr>
							</tbody>
					</table>
					<nav>
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="" aria-label="Previous">
									<span aria-hidden="true">«</span>
									{# <span class="sr-only">Prev</span> #}
								</a>
							</li>
							<li class="page-item ">
								<a class="page-link" href="">1</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="">2</a>
							</li>
							<li class="page-item ">
								<a class="page-link" href="">3</a>
							</li>
							<li class="page-item ">
								<a class="page-link" href="">4</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="" aria-label="Next">
									<span aria-hidden="true">»</span>
									{# <span class="sr-only">Next</span> #}
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>