

<div id="topfloat" class="topfloat ">

    <div id="topnav" class="topnav ">
        <ul>
            <li>
                <a href="#" class="topnav__item">
                    DANH SÁCH
                </a>
            </li>
            <li>
                <a href="#" class="topnav__item active">
                    ĐĂNG KÝ
                </a>
            </li>
            <li>
                <a href="#" class="topnav__item">
                    XẾP HẠNG
                </a>
            </li> 
        </ul>
    </div>
</div>