<div class="register">

	<form action="#" method="post" class="block-vote">
		<fieldset>
			<!--cot hinh anh-->
			<div class="block-img">
				{# <h2>Đặt ảnh đại diện của bạn</h2> #}
				<div class="thumb-big" id="img-big">
					<a data-fancybox="user" href="assets/images/data/info-1.png">
						<img class="" src="assets/images/data/info-1.png" alt=""/>
					</a>
				</div>
				{# <p class="text-note">Upload 5 ảnh yêu thích nhất của bạn trong đó có 1 hình được chọn làm ảnh Avatar</p> #}
				<ul class="list-upload" id="img-user">
					<li>
						<a data-fancybox="user" href="assets/images/data/info-2.png">
							<img class="" src="assets/images/data/info-2.png" alt=""/>
						</a>
					</li>
					<li>
						<a data-fancybox="user" href="assets/images/data/info-3.png">
							<img class="" src="assets/images/data/info-3.png" alt=""/>
						</a>
					</li>
					<li>
						<a data-fancybox="user" href="assets/images/data/info-4.png">
							<img class="" src="assets/images/data/info-4.png" alt=""/>
						</a>
					</li>
				</ul>
			</div>
			<!--end cot hinh anh-->
			<!--cot thong tin-->
			<div class="block-info">
				{# <h2>Thông tin cá nhân</h2> #}

				<ul class="list-info">
					<li>
						<div>NHÂN VẬT: <strong>Chu_Nguyên_Chương</strong></div>
						<div>MÁY CHỦ: <strong>S103</strong></div>
					</li>
					<li>
						<div>BANG HỘI: <strong>Độc Cô Cầu Bại</strong></div>
						<div>SỐ BÁO DANH: <strong>96428</strong></div>
					</li>
					<li>
						<div>GAME: <strong>Võ Lâm Truyền Kỳ 1 Mobile</strong></div>
					</li>
					<li>						
						<p class="text-note">My name is Riley See. I’m a recent elementary education graduate from Ball State University. I’ve been working at a camp for elementary children this summer, and I’m excited to...</p>
					</li>
				</ul>
				
				<div class="candidate__meta">
					<div class="candidate__statics">
						<ul>
							<li>
								<div class="candidate__label">Đã được bình chọn</div>
								<div class="candidate__value">
									169.209
									<span class="heart">heart</span>
								</div>
							</li>
							<li>
								<div class="candidate__label">Hạng</div>
								<div class="candidate__value">
									1580
								</div>
							</li>
						</ul>
					</div>
					<div class="candidate__video">
						<a href="https://www.youtube.com/watch?v=ScMzIvxBSi4" data-fancybox class="btni btni--video">VIDEO</a>
					</div>
				</div>

				<hr class="candidate__hr" >

				<div class="candidate__action">
					<p>Hiện có trong hành trang:
						<strong>
							309
							<span class="heart">heart</span>
						</strong>
					</p>
					<p>Số tim muốn tặng:</p>
					<p>
						<span class="candidate__vote_adjustment">
							<button class="btni btni--sub">SUB</button>
							<input type="number" name="" id="" value="1">
							<button class="btni btni--add">ADD</button>
						</span>
						<a href="#" class="btni btni--action">TẶNG TIM</a>
					</p>
					
				</div>

			</div>
		</fieldset>
	</form>

</div>
			{# <div class="candidate__meta">
				<div class="candidate__meta-text">SỐ TIM HIỆN CÓ</div>
				<div class="candidate__vote">
					<span class="vote">18.999.699</span>
				</div>
				<div class="candidate__description"></div>
			</div>
			 #}