<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotion - Web Platform 3.0</title>
</head>
<body>

    {# Main Components #}
    
    <div id="wrapper" class="wrapper wrapper--landing floatingDesktopTopLeft floatingMobileTopLeft">
        <section id="frame1" class="section section--frame1 frame1 scrollFrame">
            <div class="section__background">
                <img data-src="assets/images/bg/bg-horizonal.jpg" class="desktop lazyload" alt="">
                <img data-src="assets/images/bg/bg-vertical.jpg" class="mobile lazyload" alt="">
            </div>
            <div class="section__content">
                <div class="container">
                    <div class="frame1__inner">
                        {% include "./component/topnav.html.twig" %} 
                        <div class="main">
                            <div class="main__header">								
                                <h1 class="title title--register">ĐĂNG KÝ DỰ THI</h1>
                                <a href="#popup_rules" data-lightbox class="btni btni--rules">THỂ LỆ</a>
                            </div>
                            <div class="main__content">
                                {% include "./component/register.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {# Floating Components #} 

    {# {% include "./component/navigation.html.twig" %} #}
    {# {% include "./component/aside-left.html.twig" %} #}
    {# {% include "./component/aside-right.html.twig" %} #}

    {# Lightbox Components #}

    {# {% include "./component/module.html.twig" %} #}
    {% include "./component/popup.html.twig" %}

    {# Add - on scripts #}

    {% include "./component/livereload.html.twig" %} 

    <script>
        // Init Promotion 
        let domainKM = ''; 
        let urlPromotion = domainKM; 
    </script>

</body>
</html>

